<!DOCTYPE html>
<html>
  <head>
    <title>Instaparking</title>
    <%= csrf_meta_tags %>
      <h1>Cambio Jose</h1>
      <h1>Cambio Angelo</h1>
      <h1>Cambio Nestor</h1>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
