<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    
   
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> FAQ 
                    <small>Instaparking</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">/ FAQ</li>
                </ol>
            </div>
        </div>
        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Can I redeem my reservation without cell service?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Sure! In order to do that, simply download the pdf file that is attached to your confirmation email onto your smartphone or tablet.
                            </div>
                        </div>
                    </div>

        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    
                   
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Can I make a monthly reservation for only one month?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Sure! Just contact us by emailing support@parkingpanda.com, or calling at 800-232-6415 and we'll make a note not to rebill you at the end of the month. Your monthly reservation will expire at the end of the first month.
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Can I book more than one parking spot at a time?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                To reserve multiple spots you will have to go through the transaction process one time for each spot you wish to reserve. Fear not, after the first reservation is made your credit card and email address will be on file and you will be able to book a parking spot with one click of the mouse.
                            </div>
                        </div>
                    </div>
                  
                   
                 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Can I reserve handicapped parking?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Almost all of our parking locations are handicapped accessible. However, state and local laws restrict the ability to reserve individual handicapped spaces. It’s rare for all of the handicapped spots to be filled at any given location and our customers usually do not have a problem.
                            </div>
                        </div>
                    </div>
                 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Can I sell my passes on another website?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Instaparking passes can not be sold on other websites. These passes will be denied by the location owners.
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Can I show my parking pass on my phone?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes, but only at certain locations. You will be able to determine which locations accept mobile confirmations by clicking on the “How To Redeem” tab underneath each listing. If you are using your phone to scan the QR code on your confirmation ticket, make sure to turn the brightness on your phone all the way up and hold the phone 2-3 inches away from the scanner.
                            </div>
                        </div>
                    </div>
                  
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Do I have to enter a vehicle description? What if I don’t know it?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you're unsure of your vehicle description at the time you're booking your reservation just enter “Rental" or "TBD” as the vehicle description. Then, as soon as you know the vehicle description you can either change the description yourself by logging into your account and clicking on “My Reservations” in the dropdown menu underneath your name. Click on “Change Vehicle” next to the corresponding reservation and enter your new vehicle description. You can also give us a call at 1-800-232-6415, we’ll be happy to change it for you.
                            </div>
                        </div>
                    </div>
                   
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Do I have to have the app to use my mobile confirmation?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                You are not required to use the app, but you may find it easier. If you do not wish to use it, simply download the pdf file that we email you onto your smartphone or tablet, or pull it up in your mobile web browser.
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Do I have to make a new reservation each month?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                You will not. At the beginning of the next month, you will be billed automatically for the next month.
                            </div>
                        </div>
                    </div>
                    
                </div>
              
            </div>
           
        </div>
        
        

        <hr>

        
        <footer>
           <!-- <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; logo </p>
                </div>
            </div>-->
        </footer>

    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>