<!DOCTYPE html>
<html lang="es">

<h1>Página principal</h1>
<h2>Encuentra el lugar preferido para estacionarte</h2>


<form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar">
      </div>
      <button type="submit" class="btn btn-default">Buscar</button>
</form>    

</html>